$color-primary: black;
$color-secondary: red;

$font-primary: 'Arial', sans-serif;
$font-secondary: 'Verdana', sans-serif;

$margin-containers: 20px 30px 12px 44px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: $color-primary;
    font-family: sans-serif;
}

.container{

    display: flex;
    justify-content: space-around;

    .box{
        width: 30%;
        color: black;
        background-color: white;
        border-radius: 8px;
        padding: 20px;

        /* pode ser feito assim
        margin: 10px 20px 30px 20px; */

        margin: {
        top: 10px;
        left: 20px;
        right: 30px;
        bottom: 22px;

        }

        &.active{
            background: $color-secondary;
        }


        h2{
            font-family: $font-primary;
        }

        p{
            font-family: $font-secondary;
            font-size: 18px;

            &.hidden{
                display: none;
            }
        }

        a {
            color: green;

            &:hover{
                color: yellow;

                & + p.hidden{
                    display: block;
                }
            }
        }
    }
}